<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <property name="monk.log.pattern"	value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}] -  [%c][%L] - %m%n" />
    <property name="monk.log.charset"	value="UTF-8" />
    <property name="monk.log.level"	value="INFO" />
    <property name="monk.log.root "	value="logs" />


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs}/common.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs}/common.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="REDIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs}/redis.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs}/redis.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs}/db.log</file>
        <append>true</append>
        <param name="datePattern" value=".yyyy-MM-dd" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs}/db.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs}/error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs}/spring.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs}/spring.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>${monk.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="CHAT_HISTORY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monk.log.root:-../logs/monk-logs/chat-history}/chat.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monk.log.root:-../logs/monk-logs/chat-history}/spring.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${monk.log.charset}</charset>
            <pattern>[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}]- %m%n</pattern>
        </encoder>
    </appender>


    <logger name="com.tqmall.data.monk">
        <level value="DEBUG" />
        <appender-ref ref="ERROR"/>
    </logger>

    <!--聊天内容-->
    <logger name="com.tqmall.data.monk.web.chat.ChatHistoryController" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CHAT_HISTORY" />
        <appender-ref ref="ERROR" />
    </logger>

    <!--<logger name="com.tqmall.monk.common.redis" additivity="false">-->
        <!--<level value="${monk.log.level}" />-->
        <!--<appender-ref ref="REDIS" />-->
        <!--<appender-ref ref="ERROR" />-->
    <!--</logger>-->

    <!--sql-->
    <logger name="com.tqmall.data.monk.dao" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />

        <appender-ref ref="DB" />
        <appender-ref ref="ERROR" />
    </logger>
    <logger name="com.ibatis" additivity="false">
        <level value="WARN" />

        <appender-ref ref="DB" />
        <appender-ref ref="ERROR" />
    </logger>
    <logger name="java.sql" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />

        <appender-ref ref="DB" />
        <appender-ref ref="ERROR" />
    </logger>
    <logger name="java.sql.ResultSet" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />

        <appender-ref ref="DB" />
        <appender-ref ref="ERROR" />
    </logger>

    <logger name="org.mybatis.spring" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />

        <appender-ref ref="SPRING" />
        <appender-ref ref="ERROR" />
    </logger>
    <logger name="org.springframework" additivity="false">
        <level value="INFO" />
        <appender-ref ref="SPRING" />
        <appender-ref ref="ERROR" />
    </logger>
    <logger name="org.springframework.scheduling" additivity="false">
        <level value="${monk.log.level}" />
        <appender-ref ref="SCHEDULE" />
        <appender-ref ref="ERROR" />
    </logger>

    <root>
        <level value="${monk.log.level}" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="COMMON" />
        <appender-ref ref="ERROR" />
    </root>

</configuration>